{% extends 'base/base.html' %}{% block 'card-content' %}
<div class="custom-card vendor-details-card">
	<h1 class="form-heading">Create EXPENSE ID</h1>
	{% if warn %}
	<div class="alert alert-danger" role="alert">
		{{warn}}
	  </div>
	{% endif %}
	
	<form class="custom-form" action="/createexpenseid/" method="POST">
		{% csrf_token %}
		<div class="custom-form-group">
			<input name="eid" type="text" required />
			<span>Expense ID</span>
		</div>
		<div class="custom-form-group">
			<input name="epattern" type="text" required />
			<span>Pattern</span>
		</div>
		<div class="custom-form-group">
			<input type="submit" value="CREATE" />
		</div>
	</form>
</div>
{% block 'successAddition' %}
{% endblock %}
{% endblock %}
