{% extends 'base/base.html' %}
{% load static %}
{% block 'card-content' %}
<div class="custom-card v-card vendor-details-card d-flex justify-content-between" style="min-height:400px;">
	<div class="card my-5">
		<a href="{% url 'selectEmployee' %}">
			<div class="card-body d-flex flex-column justify-content-center align-items-center">
				<img src="{% static 'images/employee.jpg' %}" alt="Employee management image" style="height: 15rem; width: auto;">
				<h3>EMPLOYEE MANAGEMENT</h3>
			</div>
		</a>
		
	</div>

	<div class="card my-5">
		<a href="{% url 'getVendors' %}">
			<div class="card-body d-flex flex-column justify-content-center align-items-center">
				<img src="{% static 'images/vendor.jpg' %}" alt="Vendor management image" style="height: 15rem; width: auto;">
				<h3>VENDOR MANAGEMENT</h3>
			</div>
		</a>
		
	</div>
</div>
{% endblock %}