<!-- <html>
    <body>
        {{data}}
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>

        <input type="text" name="email" placeholder="Username..." class="form-control">
    </div>

    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>

            <input type="password" name="password" placeholder="Password..." class="form-control" >
    </div>

        <div class="d-flex justify-content-center mt-3 login_container">
             <input class="btn login_btn" type="submit" value="Login">
           </div>
</form>
</body>

</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <title>Share Bills</title>
</head>
<body>
    {{data}}
    <div class="main-container">
        <div class="form-card">
            <h1 class="form-heading">LOGIN</h1>
            <form class="custom-from" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" required>
                    <span>Email</span>
                </div>
                <div class="form-group">
                    <input type="password" required>
                    <span>Password</span>
                </div>
                <div class="form-group">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
</body>
</html>