{% extends 'base/base.html' %} {% block 'card-content' %}
<div class="custom-card login-form-card">
	<h1 class="form-heading">LOGIN</h1>
	<form class="custom-form" action="" method="POST">
		{% csrf_token %}
		<div class="custom-form-group">
			<input type="text" name = "email" required />
			<span>Email</span>
		</div>
		<div class="custom-form-group">
			<input type="password" name = "password" required />
			<span>Password</span>
		</div>
		<div class="custom-form-group">
			<input type="submit" value="LOGIN" />
		</div>
	</form>
</div>

{% endblock %}
