{% load static   %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
    />
    
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <link
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <title>Share Bills</title>
    <style>
      .dataTables_filter {
        display: none !important;
}
    </style>
</head>
  <body>
    <div class="container py-5">
      <label for="bill-dt">
        <input class="filter"  name="bill-dt" id="search1" type="date" />
      </label>
      <label for="ex-from-date">
        <input class="filter"  name="ex-from-date" id="search2" type="date" />
      </label>
      <label for="ex-to-date">
        <input class="filter"  name="ex-to-date" id="search3" type="date" />
      </label>
      <table id = "myTable" class="table table-responsive table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Bill No</th>
            <th>Vendor</th>
            <th>Exp Id</th>
            <th>Bill Amt</th>
            <th>Invoice Date</th>
            <th>Expense From</th>
            <th>Expense To</th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody id="datarow">
          {% if selectedvendor %}
          {% for bill in selectbills %}
          <tr>
            <td class = "invoice" style="cursor: pointer;" >{{bill.invoice_num}}</td>
            <td>{{bill.vendor__name}}</td>
            <td>{{bill.expense_id}}</td>
            <td>{{bill.amount}}</td>
            <td class = "invdt">{{bill.invoice_date}}</td>
            <td class="exfrom">{{bill.exp_from_date}}</td>
            <td class="exto">{{bill.exp_to_date}}</td>
            <td class="paid">{{bill.paid}}</td>
          </tr>
          {% endfor %}
          {% else %}
          {% for bill in bills %}
          <tr>
            <td class = "invoice" style="cursor: pointer;" >{{bill.invoice_num}}</td>
            <td>{{bill.vendor__name}}</td>
            <td>{{bill.expense_id}}</td>
            <td>{{bill.amount}}</td>
            <td class = "invdt">{{bill.invoice_date}}</td>
            <td class="exfrom">{{bill.exp_from_date}}</td>
            <td class="exto">{{bill.exp_to_date}}</td>
            <td class="paid">{{bill.paid}}</td>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
        
      </table>
    </div>
    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  </body>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable( {
        dom: 'Bfrtip',
        "bPaginate": false,
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]],
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5',
            
        ]
    } );
} );
//   $(document).ready(function() {
    
//     $('#myTable').DataTable( {
//         dom: 'Bfrtip',
//         "bPaginate": false,
        
        
//     } );
// } );
  $('.invdt').each(function() {
    x = ($(this).html())
    inv_date = new Date(x)
    var day = inv_date.getDate();
    var month = inv_date.getMonth() + 1
    var year = inv_date.getFullYear();
    if (String(month).length < 2){
      month = '0' + month;
    }
    var today = year+'-'+month+'-'+day;
    $(this).html(today)
});
$('.exfrom').each(function(){
    x = ($(this).html())
    inv_date = new Date(x)
    var day = inv_date.getDate();
    var month = inv_date.getMonth() + 1
    var year = inv_date.getFullYear();
    if (String(month).length < 2){
      month = '0' + month;
    }
    var today = year+'-'+month+'-'+day;
    $(this).html(today) 
});
$('.exto').each(function() {
    x = ($(this).html())
    inv_date = new Date(x)
    var day = inv_date.getDate();
    var month = inv_date.getMonth() + 1
    var year = inv_date.getFullYear();
    if (String(month).length < 2){
      month = '0' + month;
    }
    var today = year+'-'+month+'-'+day;
    $(this).html(today)
});
$('.paid').each(function() {
    x = ($(this).html())
    if(x == "False"){
    $(this).html("Unpaid")
    }else{
    $(this).html("Paid")

    }
});
</script>
<script>

function performReset() {
  document.getElementById("search1").value = "";
  document.getElementById("search2").value = "";
  document.getElementById("search3").value = "";
  filterTable(event, 0);
}

function filterTable(event, index) {
  var filter = event.target.value.toUpperCase();
  var rows = document.querySelector("#mytable tbody").rows;
  for (var i = 0; i < rows.length; i++) {
    var firstCol = rows[i].cells[4].textContent.toUpperCase();
    var secondCol = rows[i].cells[5].textContent.toUpperCase();
    var thirdCol = rows[i].cells[6].textContent.toUpperCase();
    if ((firstCol.indexOf(filter) > -1 && index == 0) || (secondCol.indexOf(filter) > -1 && index == 1) || (thirdCol.indexOf(filter) > -1 && index == 2)) {
      rows[i].style.display = "";
    } else {
      rows[i].style.display = "none";
    }      
  }
}

document.querySelectorAll('input.filter').forEach(function(el,idx){
  el.addEventListener('change', function(e){
    filterTable(e, idx);
  }, false);
});
</script>
<script>

$(".invoice").dblclick(function(){
  dataimg = $(this).html()
  console.log(dataimg)
  $.ajax({
                headers: { 'X-CSRFToken': '{{csrf_token}}' },
                type: 'POST',
                url: '/sendImages/',
                dataType: 'json',
                data: {
                    bill: dataimg,
                },
                success: function (response) {
                    console.log(dataimg)
                    console.log(response[dataimg]);
                    html = `<img id = "image" src = '${response[dataimg]}'/>`
                    $('.modal-content .modal-body').append(html) 
                    $('#myModal').modal('show');
                },
                error:function(e){
                  console.log("hekansd")
                  
                }
            });
}); 
</script>

   
<!-- <script type="text/javascript">
  function exportToExcel(tableID, filename = ''){
      var downloadurl;
      var dataFileType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById("myTable");
      var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
      
      // Specify file name
      filename = filename?filename+'.xls':'export_excel_data.xls';
      
      // Create download link element
      downloadurl = document.createElement("a");
      
      document.body.appendChild(downloadurl);
      
      if(navigator.msSaveOrOpenBlob){
          var blob = new Blob(['\ufeff', tableHTMLData], {
              type: dataFileType
          });
          navigator.msSaveOrOpenBlob( blob, filename);
      }else{
          // Create a link to the file
          downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;
      
          // Setting the file name
          downloadurl.download = filename;
          
          //triggering the function
          downloadurl.click();
      }
  }
   
  </script> -->
</html>
